<div class="container mt-3">
    <div class="card">
    <div class="card-header bg-light" style="background-color: #038d07;">
           <p>Candidater</p> 
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nom:</label>
                    <input type="text" name="nom"  [(ngModel)]="new_candidat.nom" required autofocus class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Prenom:</label>
                    <input type="text" name="prenom"  [(ngModel)]="new_candidat.prenom" required autofocus id="" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="">naissance:</label>
                    <input type="date" name="naissance" [(ngModel)]="new_candidat.naissance" required autofocus id="" class="form-control" >
                </div>
               
                <div class="form-group">
                    <label for="">sexe:</label>
                    
                    <select name="sexe" [(ngModel)]="new_candidat.sexe" required autofocus class="form-control">
                        <option value="">...</option>
                        <option value="MASCULIN">MASCULIN</option>  
                        <option value="FEMININ">FEMININ</option>
                </select>   
                </div>

                <div class="form-group">
                    <label for="">Adresse:</label>
                    <input type="text" name="adresse" [(ngModel)]="new_candidat.adresse" required autofocus id="" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="">Nationalité:</label>
                    <input type="text" name="nationalite" [(ngModel)]="new_candidat.nationalite" required autofocus id="" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="">email:</label>
                    <input type="email" name="email" [(ngModel)]="new_candidat.email" required autofocus id="" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="">Numéro de téléphone:</label>
                    <input type="number" name="numero" [(ngModel)]="new_candidat.numero" required autofocus id="" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="">Code Filière:</label>
                    <select name="codef" [(ngModel)]="new_candidat.codef" required autofocus class="form-control">
                            <option disabled="disabled" selected="selected">   </option>
                                                                    <option value="1">
                                DROIT PUBLIC-1                                </option>
                                                                <option value="2">
                                DROIT PRIVE-2                                </option>
                                                                <option value="3">
                                GESTION-3                                </option>
                                                                <option value="4">
                                ECONOMIE-4                                </option>
                                                                <option value="5">
                                Informatique & Réseaux telecom-5                               </option>
                                                                <option value="6">
                                 Agroalimentaire-6                                </option>
                                <option value="7">
                                    Santé General-7                               </option>
                                    <option value="8">
                                        Santé Public-8                               </option>
                                                        </select>
                </div>

                <div class="form-group">
                    <label for="">Niveau:</label>
                    <select name="niveau" [(ngModel)]="new_candidat.niveau" required autofocus class="form-control">
                            <option disabled="disabled" selected="selected">   </option>
                                                                    <option value="LICENCE1">
                                LICENCE1                                </option>
                                                                <option value="LICENCE2">
                                LICENCE2                               </option>
                                                                <option value="LICENCE3">
                                LICENCE3                                </option>
                                                                <option value="Master1">
                                Master1                                </option>
                                                                <option value="Master2">
                                Master2                                </option>
                                                        </select>
                </div>

                <p></p>
                <div class="">
                    <button type="button" class="btn btn-primary" (click)="envoyer()"> Postuler</button>
            </div>
            </form>
        </div>
</div>
</div>