<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-inverse"><img class="img-responsive" src="assets/images/logo uahb.png"></a>
        </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar"> 
        <li><a [routerLink]="['/accueil']" >Présentation</a></li>
        <li><a [routerLink]="['/listfiliere']">Facultés</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><i class="glyphicon glyphicon-earphone"></i>   Avez-vous des questions ? +221 33 824 01 24</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-envelope"></i>    Contact@uahb.sn</a></li>
        <li><a [routerLink]="['/login']"><i class="glyphicon glyphicon-user"></i>   S'authentifier</a></li>
      </ul>
    </div>
    </div>
</nav>
  

