<div class="container">
    <h1>Facultés UAHB</h1>
    <img class="img-responsive1" src="assets/images/juriste.jpeg">
    <h4>Faculté Des Sciences Juridiques Et Politiques (FSJP) <a [routerLink]="['/juriste']" >Voir</a></h4>
    <br>
    <img class="img-responsive1" src="assets/images/economie.jpeg">
    <h4>Faculté des Sciences Economiques et de Gestion​ (FASEG) <a [routerLink]="['/economie']" >Voir</a></h4>
    <br>
    <img class="img-responsive1" src="assets/images/stic.jpeg">
    <h4>Faculté des Sciences et Technologies (FST) <a [routerLink]="['/stic']" >Voir</a></h4>
    <br>
    <img class="img-responsive1" src="assets/images/medecine.jpeg">
    <h4>Faculté Des Sciences de la Santé (FSS) <a [routerLink]="['/medecine']" >Voir</a></h4>
    <br>
    <img class="img-responsive2" src="assets/images/Capture3.jpeg">
    <h3>ANNÉE UNIVERSITAIRE 2022-2023</h3> 
</div>
