<div class="container">
    <img class="img-responsive" src="assets/images/uahb.jpg">
  <h2>PRÉSENTATION</h2>
  
  <h4>L’Université Amadou Hampaté BA de Dakar (UAHB), filiale du Groupe Jean de la Fontaine, est un établissement d’enseignement supérieur privé laïc autorisé par l’Etat du Sénégal sous l’Agrément provisoire N° 0040/AG/ME/DES du 24 novembre 2006 confirmé par l’Agrément définitif N°0040/AG/ME/DES du 03 Avril 2008. Elle jouit d’un statut de Société unipersonnelle à responsabilité limitée (SUARL). Son siège social est situé à la Rocade Fan Bel Air X Canal IV Fass.</h4>
  <h1>Nos Faculté</h1>
  <img class="img-responsive1" src="assets/images/Capture1.jpeg">
  <h1>Universités et Institutions de Partenaires</h1>  
  <img class="img-responsive1" src="assets/images/Capture5.jpeg">
  <img class="img-responsive3" src="assets/images/Capture6.jpeg">
  <h1>Galerie</h1>
  <div class="row">
  <img class="img-responsive2" src="assets/images/Capture2.jpeg">
    </div>
</div>
